.gallery{
    min-height: 50rem;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // border:1px solid red;

    &_main{
        // border: 1px solid red;
        min-height: 43rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .g-sec-1{
            width:37%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            &-img1{
                width: 42%;
                margin: .5rem;
            }
            &-img2{
                width: 52%;
                margin: .5rem;
            }
            &-img3{
                width: 96%;
                margin: .5rem;
            }

        }
        .g-sec-2{
            width:37%;

            &-img1{
                width: 97%;
                margin: .5rem;
            }
        }
        .g-sec-3{
            width:22%;

            &-img1{
                width: 96%;
                margin-top: .5rem;
            }
            &-img2{
                width: 96%;
                height: 45%;
                margin-top: 1rem;
            }
        }

        &--sec{
            // border: 1px solid red;
            height: 100%;

        }

    }
}


@media only screen and (max-width: 900px){

    .gallery{
        min-height: 100rem;
    
        &_main{
            flex-direction: column;
            justify-content: space-evenly;
            min-height: 80rem;
    
            .g-sec-1{
                width:100%;
                // display: flex;
                // justify-content: space-evenly;
                // flex-wrap: wrap;
    
                // &-img1{
                //     width: 42%;
                //     margin: .5rem;
                // }
                // &-img2{
                //     width: 52%;
                //     margin: .5rem;
                // }
                // &-img3{
                //     width: 96%;
                //     margin: .5rem;
                // }
    
            }
            .g-sec-2{
                width:100%;
    
                // &-img1{
                //     width: 100%;
                //     margin-top: .5rem;
                // }
            }
            .g-sec-3{
                width:100%;
    
                &-img1{
                    // width: 96%;
                    margin: .5rem;
                }
                &-img2{
                    // width: 96%;
                    // height: 45%;
                    margin: 1rem;
                }
            }
    
            &--sec{
                // border: 1px solid red;
                height: 100%;
    
            }
    
        }
    }

}